<h1>About<h1><br>
  <h2>What is Spotify?</h2>
  <p>Spotify brings you the right music for every moment – on computers, mobiles, tablets, home entertainment systems, cars, gaming consoles and more.</p><br>
  <p>Just search for music you love, or let Spotify play you something great. Create and listen to your playlists for free or subscribe to Premium for on-demand access at the highest audio quality – with zero ads.</p><br>
  <h2>Fast Facts</h2>
  <ul>
    <li>Subscribers: Over 50 million (as of March 2017)</li>
    <li>Active users: Over 140 million (as of June 2017)</li>
    <li>Number of playlists: Over 2 billion</li>
    <li>Available in 60 markets – Andorra, Argentina, Austria, Australia, Belgium, Bolivia, Brazil, Bulgaria,<br> Canada, Chile, Colombia, Costa Rica, Cyprus, Czech Republic, Denmark, Dominican Republic,<br> Ecuador, El Salvador, Estonia, Finland, France, Germany, Greece, Guatemala, Honduras, Hong Kong,<br> Hungary, Iceland, Indonesia, Ireland, Italy, Japan, Latvia, Liechtenstein, Lithuania,<br> Luxembourg, Malaysia, Malta, Mexico, Monaco, New Zealand, Netherlands, Nicaragua, Norway,<br> Panama, Paraguay, Peru, Philippines, Poland, Portugal, Singapore, Slovakia, Spain, Sweden,<br> Switzerland, Taiwan, Turkey, UK, Uruguay and USA.<br>
    </li>
  <ul>
