<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="container-fluid" style="text-align:center">
    <div class="navbar-header"><br>
      <a class="nav-bar brand" routerLink="">Home</a>
    </div>
    <ul class="navbar-nav navbar-left"><br>
      <li><a routerLink="about">About</a></li><br>
      <li><a routerLink="marketplace">View Albums</a></li><br><br>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
 
